*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}
body{
  background-color: #faf7f7;
}

header{
  height: 500px;
  background-color:#16110d;;
  .top{
    background-image: url('../images/005.jpg');
    background-size: 100% 100%;
    height: 500px;
    color: white;
    .menu_top{
      height: 100px;;
      .menu{
        list-style: none;
        margin-right: 100px;
        color:white;
        margin-top: 30px;
        li{
          cursor: pointer;
          font-size: 0.9em;
          margin-left: 30px;
        }
      }
      .logo{
        color: white;
        margin-top:25px;
        span{
        margin-left: 150px;
        font-size: 3em;
        }
      }
    }
    .medium{
      color:white;
      .apps{
        font-size: 5em;
        span:first-child{
          margin-left: 105px;
        }
      }
      .text{
        font-size: 1.1em;
        p{
          margin-left: 105px;
        }
      }
      .button{
        button{
          margin-left: 105px;
          margin-top: 50px;
          background-color: #d51e86;
          border: none;
          color:white;
          padding: 8px 27px;
          border-radius: 3px;
          font-size: 20px;
        }
      }
    }
    .bottom{
      margin-top:70px;
      div{
        div{
          padding: 0 20px;
          border-left: white 1px solid;
        }
        div:last-child{

        }
        div:first-child{
         
          font-size: 1.2em;
          text-align: right;
          span{
            color:#d51e86;
          }
          border:none;
        }
      }
    }
  }
  nav{
    background-color:#d51e86;
    height: 80px;
    .menu{
      list-style: none;
      margin-right: 100px;
      color:white;
      margin-top: 30px;
     li{
       cursor: pointer;
       font-size: 0.9em;
       margin-left: 30px;
     }
    }
    .logo{
      color: white;
      margin-top:10px;
      span{
        margin-left: 150px;
        font-size: 3em;
      }

    }
  }
}
main{
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 150px;
  height: 1000px;
  .cards{
    .seta_rigth{
      cursor: pointer;
      color:#d51e86;
      margin-left: 25px;
      font-size: 4em;
      font-weight: bold
    }
    .seta_left{
      cursor: pointer;
      margin-right: 25px;
      font-size: 4em;
      font-weight: bold;
      color:#d51e86
    }
    .card1{
      .col-xs-3{
        -webkit-flex-basis: 25%;
        -moz-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
      }
      background-color:white;
      height: 350px;
      border-radius: 7px;

      .header{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        height: 220px;
        background-image:url("../images/001.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .footer{
        padding: 20px;
        border-radius: 20px;
      }
    }
    .card2{
      background-color:white;
      height: 220px;
      height: 350px;
      margin-left: 25px;
      margin-right: 25px;
      border-radius: 7px;
      .header{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        height: 220px;
        background-image:url("../images/002.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .footer{
        padding: 20px;
      } 
    }
    .card3{
      background-color:white;
      height: 220px;
      width: 300px;
      height: 350px;
      border-radius: 7px;
      .header{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        height: 220px;
        background-image:url("../images/003.jpg");
        background-size: 100% 100%;
      }
      .footer{
        padding: 20px;
      }
    }

  }
}
  .about{
    padding-right: 80px;
    padding-left: 90px;
    margin-top: 200px;
    .img_left{
  
      img{
        height: 300px;
        width: 100%;
        border-radius: 7px;
      }
    }
    .text_rigth{
      p{
        margin-top: 25px;
      }
    }  
  }

footer{
  background-color:black;
  height: 100px;
}
